h1 {
    text-align: center;
    margin-top: 50px;
}

input {
    width: 100%;
    border: none;
    
}

ul {
    padding: 0;
    margin-bottom: 1;
}

ul li {
    border: lightblue 1px solid;
    padding: 7px;
    list-style: none;
}
